<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bomberman Party</title>
    </head>
    <body>
        <script src="js/BombermanParty.jsx" type="text/babel"></script>
        <h1>Bomberman Party</h1>
        <a th:href="@{/juego}"><button >Create lobby</button></a>
        <a th:href="@{/juego}"><button >Join to lobby</button></a>
        <a th:href="@{/crearSala}"><button >How to play</button></a>
            
    </body>

</html>