<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bomberman Party</title>
    </head>
    <body>
        <h1>Bomberman Party</h1>
        <form >
            <div><label> Nombre: <input type="text" name="username"/> </label></div>
            <div><input type="submit" value="Crear Sala"/></div>
        </form>
        <form>
            <div><label> Codigo sala: <input type="text" name="sala"/> </label></div>
            <div><input type="submit" value="Unirse"/></div>
        </form>
    </body>

</html>